{% extends "base.html" %}

{% block header %}
    <h1>Patience</h1>
{% endblock %}

{% block main %}
    <section>
        <h2>nous reconnectons patients et professionnels.</h2>
        <p>nous simplifions la prise de contact, assistons la plannification de rendez-vous,
            historisons les consultations et leurs comptes rendus.</p>
        {% if user.is_authenticated %}
            <a href="{% url 'core:dashboard' %}">Accéder à votre compte</a>
        {% else %}
            <a href="{% url 'users:create-doctor' %}">je m'inscris</a>
            <a href="{% url 'users:login' %}">je me connecte</a>
        {% endif %}
    </section>
{% endblock %}