{% extends 'core/dashboard/dashboard.html' %}
{% load static %}

{% block main %}
    <h1>
        {% if 4 <= time and time < 11 %}bonjour{% elif 11 <= time and time < 14 %}bon
            appétit{% elif 14 <= time and time < 18 %}bon après-midi{% else %}bonsoir{% endif %}
        , {{ patient.get_short_name }} !
    </h1>
    <section>
        <h2>mes professionnels</h2>
        <div class="grid">
            <ul>
                {% for doctor in patient.doctors.all %}
                    <li>{{ doctor }}</li>
                {% empty %}
                    <li>pas de professionnels</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section>
        <h2>mes consultations</h2>
        <div class="grid">
            <ul>
                {% for consultation in patient.consultations.all %}
                    <li>{{ consultation }}</li>
                {% empty %}
                    <li>pas de consultations</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}