<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Patience est une application web qui a pour but d'aider les professionnels de santé dans la gestion de leurs données patients.">
        <meta name="keywords" content="HTML, SEO">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="mau">
        <title>Patience</title>
    </head>
    <body>
        <header></header>
        <main>
            {% block main %}
                <p>Bonjour, bienvenue sur la page de base de Patience</p>
            {% endblock %}
        </main>
        <footer>fait avec passion par mau</footer>
    </body>
</html>