$purple: #8a4d76;
$pink: #fa7c91;

@use "../../node_modules/bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $purple,
  $link: $pink,
);

@import url("https://fonts.googleapis.com/css?family=Nunito:400, 700, 800");