{% extends 'users/base/base-email.html' %}

{% block header %}
    <h1>finalisation d'un nouveau compte patient</h1>
{% endblock %}

{% block content %}
    <p>
        {{ doctor }} a initialisé votre nouveau compte patient.
        avant de pouvoir utiliser pleinement patience, nous vous invitons à finaliser la création
        de votre compte en cliquant sur le bouton suivant :
    </p>
    <a href="{{ protocol }}://
            {{ domain }}{% url 'users:password-init-confirm' uidb64=uid token=token %}">rejoindre
        patience</a>
    <p>
        si vous avez reçu ce mail par erreur, vous pouvez l'ignorer. autrement, vous risquez de
        lourdes
        peines pénales (on vous surveille ...).
    </p>
    <p>à bientôt sur patience</p>
    <p>l'équipe des ange-gardiens patience</p>
{% endblock %}